<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div id="sidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/articles">Home</a>
      <a href="/login">Login</a>
    </div>
    <div id="opennav" onclick="openNav()">☰</div>
    
    <div id="main">
      <p class="flash">
        <%= flash.notice %>
      </p>
      <%= yield %>
      <hr>
        <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
    </div>
    <script>
      function openNav() {
        document.getElementById("sidenav").style.width = "150px";
      }

      function closeNav() {
        document.getElementById("sidenav").style.width = "0";
      }
    </script>
  </body>
</html>
